.cardContainer {
    width: 600px;
}

.avatarContainer {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;

    margin-bottom: 2rem;
}

.nameLabel {
    margin-top: 0;
}
